html,input{
    font-family: Serif;
  }
  
body{
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    padding: 2em;
  }

form{
    margin: 50px;
  }

.headercss{
    display: flex;
    flex-flow: column;
    align-content: center;
    background:rgb(255, 0, 140);
    text-align: center;
    margin-bottom: 20px;

}

div {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label, input, button { 
    font-size: 12px;
    font-family: Serif;
    line-height: 1.5
}
label {
    text-align: right;
    width: 30%;
    margin-right: 2%;
}

input {
    flex: auto;
}
button{
    width: 60%;
    margin:0 auto;
    background-color: green;
  }
texterror
{
  color:red;
}